.content {
    background-color: rgb(105, 0, 126);
    height: 100%;
    width: 100%;
    position: absolute;
    display:flex;
}

.header {
    margin: auto;
    border: solid 2px;
    color: rgb(202, 146, 5);
    text-align:center;
    padding: 2% 5%;
    font-size: 500%;
}

.title {
    font-size: 40%
}