<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Why so serious?</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <!-- JS -->
        <script src="js/main.js"></script>

    <body ng-app="app">
        <div class="header" ng-class="{navbar: getPage() > 0}" ng-controller="HeaderController as controller">
                <h1 ng-bind="title"></h1>
                <h2> - <span ng-bind="subtitle"></span> - </h2>

                <nav class="menu">
                    <a class="item" ng-repeat="item in menuItems" href="#">
                        <img src="{{item.src}}" width="30" height="30" ng-click="changePage(item.index)">
                    </a>
                </nav>"
        </div>
        <div class="content" ng-controller="ContentController as controller">
            <div class="main">
                <p>{{content}}</p>
            </div>
        </div>
    </body>

</html>